body {
background-image: url("asset/fundo.png");
background-repeat: no-repeat;
background-size: cover;
display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  
  height: 20vh;
  margin:  1000;
  
  text-align: center;
  color: #a8006d; 
}

.mural {
  border: 5px solid #4b062c; 
  padding: 20px;
  border-radius: 100px; 
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #cc137f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #920776;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgb(103, 9, 76);
  width: 100%;
  max-width: 400px;
}


label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  color: #81084f;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 5px solid #b20587;
  border-radius: 30px;
  box-sizing: border-box; 
}


button {
  background-color: #ff00a6;
  color: rgb(137, 10, 86);
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #b3007d;
}


input:focus,
textarea:focus {
  border-color: #ff00bb4a;
  outline: none;
}



