
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpKjUdbN97UDLJ0cnYzdMRDVHghDnzZrtmUA&s");
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    margin: 0;
    
    text-align: center;
    color: #8A2BE2; 
  }
  
  .mural {
    border: 3px solid #8A2BE2; 
    padding: 20px;
    border-radius: 10px; 
  }
  


  

